Variables:
    Place where we store some data

In [12]:
a = 10

In [13]:
type(a)

int

In [15]:
isinstance(a,int)

True

Datatypes:
    Numbers:
        int
        float
        complex
    String:
        ''
        ""
        ''' '''
    bool
    list
    tuple
    dict
    set

Input and Output Statements
print()
input()

In [23]:
a = float(input("Enter your Age"))

Enter your Age24

In [25]:
print(a)

24.0

In [27]:
a=10
b=20
c=a+b

The sum of 10 and 20 = 30

In [31]:
# print('The sum of',a,'and',b,'=',c)
# print('The sum of {} and {} = {}'.format(a,b,c))
# print(f'The sum of {a} and {b} = {c}')

The sum of 10 and 20 = 30

Operators:
    Arithmetic Operators:
        + - * / % ** //
    Relational Operators:
        > < >= <= == !=
    Logic Operators:
        and or not
    Bitwise Operators:
        & | ^ << >>
    Assignment Operators:
        = += -= *= /= %= //= **= &= |= ^= <<= >>=
    Special Type:
        Membership:
            in
            not in
        Identity:
            is
            is not

In [36]:
13//2

6

a and b  op
0     0  0
0     1  0
1     0  0
1     1  1

a or b op
0    0  0
0    1  1
1    0  1
1    1  1

In [ ]:
not
a  op
0   1
1   0

In [38]:
10 & 2

2

In [39]:
10 | 2

10

In [46]:
10 << 2

40

In [47]:
10 >> 2

2

In [48]:
a = a+10

In [ ]:
a+=10

In [52]:
10 not in [1,2,3,4,5,6,7,8,9,10]

False

In [55]:
'Shiva' is not 'Shiva'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\mesol\AppData\Local\Temp\ipykernel_24492\4160012448.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'Shiva' is not 'Shiva'

False

Conditional Statements:
    if
    else
    if elif ladder
    nested if

In [ ]:
if cond:
    statements